header {
    background-color: #af3430; 
    color: #fff; 
    padding: 20px;
    text-align: center;
    display: block;
}

content {
    padding: 20px;
    display: block;
}

footer {
    background-color: #af3430; /* Couleur de fond du pied de page */
    color: #fff; /* Couleur du texte du pied de page */
    padding: 10px; /* Marge intérieure pour l'espace autour du contenu du pied de page */
    text-align: right; /* Alignement du texte au centre */
    display: block;
}

titre {
    align-self: center;
    font-size: 2em; 
    font-family: 'Georgia', serif; 
}

#deconnexion {
    display: none;
    width: 8em;
    align-self: flex-end;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

button:hover {
    cursor: pointer;
}

/*connexion.php*/
#incorrect {
    color: red;
    display: none;
}
